<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Copyright &#169; <a routerLink="/">MyLuxuryTravel.com</a> | <a routerLink="/destinations">Destinations</a>
    </span>
  </div>
</footer>