<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">My Luxury Travel</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/destinations">Destinations <span class="sr-only">(current)</span></a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active">
      <a class="nav-link">Contact</a>
    </li>-->
  </ul>
</nav>