<section *ngIf="data">
  <div class="card col-lg-4" *ngFor="let car of data.data">
    <img class="card-img-top" src="https://www.mydriver.com{{ car.vehicleType.images.web }}">
    <div class="card-block">
      <h4 class="card-title">{{car.vehicleType.title}}</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nr of passengers: {{car.vehicleType.nrOfPassengers}}</li>
      <li class="list-group-item">Nr of baggage: {{car.vehicleType.nrOfBaggage}}</li>
      <li class="list-group-item">{{car.vehicleType.exampleCar}}</li>
    </ul>
    <div class="alert alert-success fade in" *ngIf="errorMsg !== ''">
      <strong>{{ car.currency }} {{formatFinalAmountGross(car.finalAmountGross)}}</strong>
    </div>
    <div class="card-block">
      <a href="#" class="card-link" (click)="goBack()">Back</a>
      <a href="#" class="card-link" (click)="checkOut()">Check out</a>
    </div>
  </div>
</section>