html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5rem;
    margin-bottom: 60px;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    display: block;
}