<section *ngIf="_showDestinations">
    <div class="alert alert-danger fade in" *ngIf="errorMsg !== ''">
        <a href="#" class="close" data-dismiss="alert" (click)="clearAlerts()" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ errorMsg }}
    </div>
    <img class="loader" src="./../assets/img/loader.gif" *ngIf="loading" />
    <div class="col-md-12">
        <h2>Select your destination</h2>
    </div>
    <div>
        <div class="col-md-4">
            <div class="profile-card text-center">
                <div class="profile-info">
                    <h2 class="hvr-underline-from-center">Paris<span>Saint-Martin, 75010 Paris to Airport</span></h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="date-time-wrapper">
                        <input type="date" disabled>
                        <input type="time" disabled>
                    </div>
                    <button class="my-btn">Not Available</button>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card text-center">
                <div class="profile-info">

                    <h2 class="hvr-underline-from-center">Munich<span>Munich Karlsplatz "Stachus" to Airport</span></h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="date-time-wrapper">
                        <input type="date" [(ngModel)]="selectedDate">
                        <input type="time" [(ngModel)]="selectedTime">
                    </div>
                    <button class="my-btn" (click)="getCarOfferByDestination('ChIJh09k5PZ1nkcRXFNY-nVP0So', 'ChIJRW3aI1kTnkcRS89WOoV6xeM', 'DISTANCE', 'FIRST_CLASS')">Book FirstClass Car</button>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card text-center">

                <div class="profile-info">

                    <h2 class="hvr-underline-from-center">London<span>Marylebone, London to London Airport</span></h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="date-time-wrapper">
                        <input type="date" disabled>
                        <input type="time" disabled>
                    </div>
                    <button class="my-btn">Not Available</button>
                </div>

            </div>
        </div>
    </div>
</section>
<app-car-offers [data]="data" *ngIf="_showCarOffers" (emitCarOffersData)="handleEventEmits($event)"></app-car-offers>